<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="email" class="form-control" id="Nome" aria-describedby="emailHelp" placeholder="Seu Nome">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Endereço de email</label>
        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Seu E-mail">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Telefone</label>
        <input type="email" class="form-control" id="Telefone" aria-describedby="emailHelp" placeholder="Seu Telefone">
      </div>
    
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>