<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="'quem-somos'">Quem Somos</a>
    <a class="navbar-brand" [routerLink]="'nossa-visao'">Nossa Visão</a>
    <a class="navbar-brand" [routerLink]="'contato'">Contato</a>
</nav>

<router-outlet></router-outlet>
